<div class="container index-page-container">
  <h1 class="align-middle text-center index-page-header">Welcome to Boying's Bowling Alley</h1>
  <div class="row justify-content-center cl-effect-5">
    <%= link_to '#', class: 'enter-link' do %>
      <span data-hover="Enter">Enter</span>
    <% end %>
  </div>
</div>



